
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.catalog-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.catalog-title {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.search-container {
    /* margin-left: auto; */
}

body {
    background-color: #f4f4f9;
    padding: 20px;
}

#catalog {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 2rem; 
    max-width: 60%;
    margin: 0 auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
}

img {
    border-radius: 5px 5px 0 0;
}

.card-inner-container {
    padding: 2px 16px;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.image-container {
    width: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
