:root {
    --primary-orange: #ff3b00;
    --secondary-orange: #cc2f00;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.catalog-logo {
    max-width: 150px;
    height: auto;
    cursor: pointer;

}

.search-container {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.search-input {
    flex-grow: 1;
    padding: 12px 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.search-button {
    background-color: var(--primary-orange);
    color: white;
    border: none;
    padding: 0 20px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: var(--secondary-orange);
}

.search-form {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
}

body {
    background-color: #f4f4f9;
}

#catalog {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    /* margin: 0 auto; */
    background-color: white;
    padding: 2rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card img {
    border-radius: 5px 5px 0 0;
}

.card-inner-container {
    padding: 2px 16px;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.image-container {
    width: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-banner {
    height: 550px;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
        url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-content-container {
    background-color: white;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    width: 90%;
    max-width: 70%;
    margin: 0 auto 50px;

    margin-top: -150px;
    position: relative;
    z-index: 10;
}

.container-header {
    text-align: center;
    margin-bottom: 30px;
    color: #555;
}

#createRecipeBtn {
    display: none;
    padding: 8px 16px;
    background: #ff3b00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#signInBtn {
    padding: 8px 16px; 
    background: #ff3b00; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

#signOutBtn {
    display: none; 
    padding: 8px 16px; 
    background: #ff3b00; 
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
}